*

!lab0
!lab01
!lab01_example_2021
!lab01_example_2021/tinyalu_dut
!lab02
!lab02_example_2021
!lab03
!lab03_example_2021
!lab04
!lab04part2_example_2021
!lab04part1
!lab04part2
!.dvt
!.dvt/*

!.gitignore
!.project
!**/*.f
!**/*.sv
!**/*.v
!**/*.vp
!**/*.sh
!**/*.svh
!**/*.vhd
!**/*.txt
!**/*.build
!**/Makefile

